
.nav {
    /* background-color: #909090; */
    background-image:url(https://wallpapercave.com/wp/wp5789227.jpg);
    background-position: 25%;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    box-shadow: 2px 2px 4px grey;
    margin-bottom: 1em;
  }

  img {
    width: 50px;
    height: 50px;
  }
  
  main {
    width: 90%;
    margin: auto;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  button a {
    color: rgb(60, 59, 58);
  }
  
  h4 {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  table {
    width: 50%;
    margin: auto;
  }
  
  td {
    text-align: center;
  }
  
  tbody td:not(td:first-of-type):hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  
  tbody tr:nth-child(even) {
    background: #f0f0f0;
  }
  
  
  .New form {
    margin: auto;
    width: 95%;
  }
  
  input[type],
  textarea {
    display: block;
    width: 90%;
    margin: auto;
  }
  
  input[type="checkbox"] {
    margin: 0;
    width: 15%;
  }
  
  input[type="submit"] {
    width: 30%;
  }
  
  .showNavigation {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  article {
    margin-top: 5%;
   padding-bottom: 5%;
    margin-left: 30%;
    margin-right: 25%;
    padding-left: 15%;
    border: 2px solid black;
  }